<div class="small-navbar firstSmall">
    <ul class="left-menu">
      <li class="floatleft"></li>
      <li class="floatleft">|</li>
      <li class="floatleft"><i class="fas fa-phone"></i> 91-7017585022</li>

          <li class="floatright displayPointer">Corporate Ordering</li>
            <% if(typeof user !== 'undefined') { %>
              <li class="floatright">|</li>
                    <li class="floatright displayPointer logout"><a href="/logout">Log Out</a></li>
              <li class="floatright">|</li>
                <li  class="floatright displayPointer">Hi, <a href="/account/profile" class="profileLink"><%if(user.local.username){ %><%= user.local.username %>
                <%} else if(user.google.name){%><%= user.google.name %><%} else if(user.facebook.name){ %><%= user.facebook.name %><%}%>
                </a></li>
                  <li class="floatright">|</li>
              <% } %>

                  <% if(typeof user === 'undefined') { %>

        <li class="floatright">|</li>
        <li id="signup-btn" class="floatright displayPointer" onclick="showSignupModal()">Sign Up</li>
        <li class="floatright">|</li>
        <li id="login-btn" class="floatright displayPointer"  onclick="showLoginModal()">Log In</li>
        <li class="floatright">|</li>
            <% } %>







    </ul>
    <!-- <ul class="right-menu">

    </ul> -->

    <!-- <ul>
      <div class="floatleft">
           <li class="special_text"><a href="#">Hello1</a></li>
           </div>
           <div class="floatright">
           <li><a href="#">Hello2</a></li>
           <li><a href="#">Hello3</a></li>
           </div>
       </ul> -->
</div>


<div class="small-navbar secondSmall">
    <ul class="left-menu">
      <!-- <li class=""><i class="fas fa-map-marker-alt"></i> C-72, Sector-2 Noida (201301)</li>
      <li class="">|</li> -->
      <li class="floatleft"><i class="fas fa-phone"></i> 91-7017585022</li>

          <!-- <li class=" displayPointer">Corporate Ordering</li>
        <li class="">|</li> -->

          <% if(typeof user !== 'undefined') { %>
              <li class="floatright"><a href="/logout">Logout</a> </li>
              <li class="floatright">|</li>
      <li class="floatright">Hi,<a href="/account/profile" class="profileLink"> <%if(user.local.username){ %><%= user.local.username %>
      <%} else if(user.google.name){%><%= user.google.name %><%} else if(user.facebook.name){ %><%= user.facebook.name %><%}%></a> </li>


<% } %>
    <% if(typeof user === 'undefined') { %>
      <li class="floatright displayPointer">Log In Sign Up </li>
  <% } %>

        <li class="floatright">|</li>
        <li class="floatright openCartItems displayPointer"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart</li>





    </ul>

</div>


<nav id="mainNav">
  <div class="logo">
    <a href="/"> <img src="../img/dk_logo.png" id="logoImage"></a>
  </div>

<div class="fill_space_div">
</div>

  <div class="nav_links">
  <div class="2">
     <a href="http://deliverykings.co.in/#oven art" class="navLinks">OVEN ART</a>
</div>
<div class="3">
         <a href="http://deliverykings.co.in/#main course" class="navLinks">MAIN COURSE</a>
</div>
<div class="4">
  <a href="http://deliverykings.co.in/#sides" class="navLinks">SIDES</a>
</div>
<div class="5">
  <a href="http://deliverykings.co.in/#chinese" class="navLinks">CHINESE</a>
</div>
<div class="6">
  <a href="http://deliverykings.co.in/#party platters" class="navLinks">PARTY PLATTERS</a>
</div>
<div class="7">
  <a href="http://deliverykings.co.in/#soup & deserts" class="navLinks">SOUPS & DESSERTS</a>
</div>
</div>
</nav>


<div class="cart_quan">
  0
</div>
<img src="../img/add_to_cart.png" class="shopping_cart" />

<div class="login-modal">
  <form action="/login" method="post" id="loginForm">
  <input type="text" name="username" placeholder="Username" required>
  <input type="password" name="password" placeholder="Password" required>
  <button class='login-modal-btn' type="submit">Login</button>
</form>
<a href="/auth/facebook" class="oauth"><span class="fab fa-facebook"></span> Facebook</a>
<a href="/auth/google" class="oauth"><span class="fab fa-google-plus"></span> Google+</a>
  <p>New User? <a class="showCursor" onclick="showSignupModal()"> Sign up </a></p>
</div>

<div class="login-backdrop" onclick='hideLoginModal()'>

</div>

<div class="signup-modal">
  <form action="/signup" method="post" id="signupForm">
  <input type="text" name="username" placeholder="Enter Your Username" required>
  <input type="password" name="password" placeholder="Password" id="firstPassword" required>
  <input type="password" placeholder="Confirm Password" id="secondPassword" required>
  <button class='signup-modal-btn' type="submit">Sign Up</button>
    <a href="/auth/facebook" class="oauth"><span class="fab fa-facebook"></span> Facebook</a>
    <a href="/auth/google" class="oauth"><span class="fab fa-google-plus"></span> Google+</a>
</form>
  <p>Already have an account? <a class="showCursor" onclick="showLoginModal()"> Log in </a></p>
</div>

<div class="signup-backdrop" onclick='hideSignupModal()'>

</div>


<script>
document.addEventListener('DOMContentLoaded',function(){
  var form = document.getElementById('signupForm');
  var form2 = document.getElementById('loginForm');

  // Append the form status
  var formStatus = document.createElement('div');
  formStatus.setAttribute('class', 'form-status alert');
  form.appendChild(formStatus);
  form2.appendChild(formStatus);

  form.onsubmit = function (e) {
  	// Stop the regular form submission
  	e.preventDefault();
  	// Collect the form data while iterating over the inputs
  	var data = {};
  	for (var i = 0, ii = form.length; i < ii; ++i) {
  		var input = form[i];
  		if (input.name) {
  			data[input.name] = input.value;
  		}
  	}



  	// Send the collected data as JSON
    if((document.getElementById('firstPassword').value)!==(document.getElementById('secondPassword').value))
    {
      	e.preventDefault();
        formStatus.className += ' alert-danger';
    		formStatus.innerHTML = "Passwords Doesn't Match";
        alert("Password Doesn't Match");
    }
    else
    {

      // Construct an HTTP request
      var xhr = new XMLHttpRequest();
      xhr.open(form.method, form.action, true);
      xhr.setRequestHeader('Accept', 'application/json; charset=utf-8');
      xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');

  	xhr.send(JSON.stringify(data));

  	// Callback function
  	xhr.onloadend = function (response) {
  		if (response.target.status === 0) {

  			// Failed XmlHttpRequest should be considered an undefined error.
  			formStatus.className += ' alert-danger';
  			formStatus.innerHTML = response.currentTarget.responseText;

  		} else if (response.target.status === 401) {

  			// Bad Request
  			formStatus.className += ' alert-danger';
        console.log(response);
        console.log(typeof response);
  			formStatus.innerHTML = response.currentTarget.responseText;

  		} else if (response.target.status === 200) {
        if(window.location.pathname=='/checkout') location.reload(true);
        else window.location.href='/account/profile';
  			// Success
  			// formStatus.className += ' alert-success';
  			// formStatus.innerHTML = form.dataset.formSuccess;

  		}
  	};
  }
  };



  //login form submit

  form2.onsubmit = function (e) {

   e.preventDefault();
  	// Stop the regular form submission
  //
  	// Collect the form data while iterating over the inputs
  	var data = {};
  	for (var i = 0, ii = form2.length; i < ii; ++i) {
  		var input = form2[i];
  		if (input.name) {
  			data[input.name] = input.value;
  		}
  	}




      // Construct an HTTP request
      var xhr = new XMLHttpRequest();
      xhr.open(form2.method, form2.action, true);
      xhr.setRequestHeader('Accept', 'application/json; charset=utf-8');
      xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');

  	xhr.send(JSON.stringify(data));

  	// Callback function
  	xhr.onloadend = function (response) {
  		if (response.target.status === 0) {

  			// Failed XmlHttpRequest should be considered an undefined error.
        	e.preventDefault();
  			formStatus.className += ' alert-danger';
  			formStatus.innerHTML = response.currentTarget.responseText;

  		} else if (response.target.status === 401) {
        	e.preventDefault();
  			// Bad Request
  			formStatus.className += ' alert-danger';
        console.log(response);
        console.log(typeof response);
  			formStatus.innerHTML = response.currentTarget.responseText;

  		} else if (response.target.status === 200) {
        if(window.location.pathname=='/checkout') location.reload(true);
        else window.location.href='/account/profile';
  			// Success
  			// formStatus.className += ' alert-success';
  			// formStatus.innerHTML = form.dataset.formSuccess;

  		}
  	};
  };
});


</script>
