<% layout('layout') -%>

<header class="about-header">
	<% include ./../partials/cart %>
	<div class="fullscreen-video-wrap banner">
		<img src="../img/Banner Img for abt us.jpg">
		<div class="banner-overlay">
			<h1>Orders</h1>
		</div>
	</div>
</div>

	<div class="profile-container">
		<div class="sidebar">
			<h2>My Account</h2>
			<ul>
				<a href="./profile"><li>Account Dashboard</li></a>
				<a href="./addressBook"><li>Account Information</li></a>
				<a href="./orders"><li>My Orders</li></a>
			</ul>
		</div>
		<div class="info-window">
			<h2>Your Orders</h2>

			<%orders.forEach(function(order){ order.items.forEach(function(item){%>
					<% var cur_date = new Date(order.date);
					var date = cur_date;
				cur_date =	(cur_date.getHours()<10?'0':'') + cur_date.getHours()+':'+(cur_date.getMinutes()<10?'0':'') + cur_date.getMinutes();
					%>
					<% if(order.date){ %>
					<h4><%=date.toDateString() %> At <%=cur_date %></h4>
					<% } %>
				<div class="previously-ordered">
					<img src="http://deliverykings.co.in/uploads/<%=item._id.prodImg%>">
					<div class="previously-ordered-info">
						<p><%=item.name%> (x<%=item.quantity%>)</p>
						<p>Order Status: <%if(order.successful==true){ %>successful<%}else{%>Failed <%}%></p>
						<p>Payment Method: <%=order.paymentMethod%></p>
					</div>
				</div>
			<%})})%>


		</div>
	</div>
