<% layout('layout') -%>
<% include ./../partials/cart %>
<main class="product_main">
<div class="product_wrapper">
  <div class="product_img">
    <img src="http://deliverykings.co.in/uploads/<%= product[0].prodImg %>" alt="">
  </div>


  <div class="prod_desc">
    <div class="prod_title">
      <h1><%= product[0].name %></h1>
    </div>
    <div>
    <div class="prod_price">
    INR <%= product[0].price %>rs.
    </div>
    <br/>
    <div class="prod_long_desc">
      <%= product[0].prodDesc %>
      <%= product[0].prodDesc %>
    </div>
</div>
    <div class="add_to_cart">
      <div class="add_to_cart_btn" onclick="openNav('<%= product[0]._id %>',this);">ADD TO CART</div>
    </div>
    <div class="prod_short_desc">
      Category: <%= product[0].category.name %><br/><br/>
      Serve   : <%= product[0].serve %> Persons
    </div>
  </div>
</div>

<br/>
<!-- Related products block -->

<div class="related_products">
  <h1>RELATED PRODUCTS</h1>

<div class="related_products_slide">

<%if(products.length){ for(var j=0; j<3; j++) { %>
  <div class="food-item">
    <a href="./<%=(products[j].name).replace(/ /g, "-")%> "><img src="http://deliverykings.co.in/uploads/<%= products[j].prodImg %>"></a>
    <div class="food-item-titles">
    <div class="food-item-title"><span><% if(products[j].nonVeg) { %><img src="../img/non-veg-icon.png" class="food_icon"><% } else { %> <img src="../img/veg-icon.png" class="food_icon"> <% } %> <%=(products[j].name) %></span> </div>
    <div class="food-item-price">Rs. <%=products[j].price %></div>
    <div class="food-item-content"><%=products[j].prodItemDesc %></div>
    <div class="order_btn"><a class="profileLink" href='./<%=(products[j].name).replace(/ /g, "-")%> '>ORDER</a></div>
    </div>
  </div>
<% }}%>

</div>

</div>



<div class="reviews">
<div class="old_review" id="old_review" onclick="change_box('old_review');">
  Description
</div>
<div class="add_review" id="add_review" onclick="change_box('add_review');">
  Give Review
</div>

<div class="old_box display" id="old_box">
  <% var totalRating=0; var one=0;var two=0;var three=0;var four=0;var five=0;  product[0].prodRating.forEach(function(rating) {
     totalRating = parseInt(rating.stars) + totalRating;

       if(rating.stars==1)
       one++;
      if(rating.stars==2)
       two++;
   if(rating.stars==3)
       three++;
   if(rating.stars==4)
       four++;
   if(rating.stars==5)
       five++;

  });%>


  <span class="review_heading">User Rating</span>
  <%for(var i=0;i< Math.round(totalRating/product[0].prodRating.length);i++) {%>
  <span class="fa fa-star large checked"></span>
  <% } %>
    <%for(var i=0;i< 5-(Math.round(totalRating/product[0].prodRating.length));i++) {%>
  <span class="fa fa-star large"></span>
    <% } %>



  <p class="review_overall"><% if(product[0].prodRating.length){ %><%= Math.round(totalRating/product[0].prodRating.length) %>
    <%} else { %> No <% } %>
     stars average based on <%=product[0].prodRating.length%> reviews.</p>

  <div class="review_overall_stars">
    <div class="stars">
      <div>
      5 Star
    </div>
    <div>
    4 Star
    </div>
    <div>
    3 Star
    </div>
    <div>
    2 Star
    </div>
    <div>
    1 Star
    </div>
    </div>
    <div class="bars">
      <div class="bar5">
      </div>
      <div class="bar4">
      </div>
      <div class="bar3">
      </div>
      <div class="bar2">
      </div>
      <div class="bar1">
      </div>
    </div>
    <div class="people_no">
      <div class="people_no_1">
        <%= five %>
      </div>
      <div class="people_no_2">
        <%= four %>
      </div>
      <div class="people_no_3">
          <%= three %>
      </div>
      <div class="people_no_4">
          <%= two %>
      </div>
      <div class="people_no_5">
        <%= one %>
      </div>
    </div>
  </div>

<div>


  <% product[0].prodRating.forEach(function(rating) { %>
    <div class="people_ratings">
      <div class="name_pic_rating">
      <div class="customer_pic">
        <img src="../img/customer_profile.png">
      </div>
      <div class="name_rating">
      <div class="customer_name">
        <%= rating.username -%>
        <%= rating.stars %>
      </div>
      <div class="customer_rating">
        <% for(var i=1;i<=rating.stars;i++) { %>
      <span class="fa fa-star checked"></span>
      <%  } %>
      </div>
      </div>
    </div>
      <div class="customer_comment">
      <%= rating.comment -%>
      </div>
    </div>
  <% }); %>



</div>

</div>
<div class="give_box" id="give_box">
  <div class="review_grid">

<div class="review_heading">
  Give Your Review &nbsp; <i class="fa fa-edit"></i>
</div>
<div class="give_review_stars">
  <input type="radio" class="no_show" name="stars" id="star-null" />
  <input type="radio" class="no_show" name="stars" id="star-1" />
  <input type="radio" class="no_show" name="stars" id="star-2" />
  <input type="radio" class="no_show" name="stars" id="star-3" />
  <input type="radio" class="no_show" name="stars" id="star-4" checked />
  <input type="radio" class="no_show" name="stars" id="star-5" />

  <section id="star_section">
    <label class="labelstar" for="star-1">
      <svg width="255" height="240" viewBox="0 0 51 48">
        <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
      </svg>
    </label>
    <label class="labelstar" for="star-2">
      <svg width="255" height="240" viewBox="0 0 51 48">
        <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
      </svg>
    </label>
    <label class="labelstar" for="star-3">
      <svg width="255" height="240" viewBox="0 0 51 48">
        <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
      </svg>
    </label>
    <label class="labelstar" for="star-4">
      <svg width="255" height="240" viewBox="0 0 51 48">
        <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
      </svg>
    </label>
    <label class="labelstar" for="star-5">
      <svg width="255" height="240" viewBox="0 0 51 48">
        <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
      </svg>
    </label>
  </section>
</p>
</div>
<div class="reviewing">
  <textarea rows="5" cols="50" class="reviewing_box" id="customer_review" placeholder="Tell Us How You Feel About Our Service and Food." required>

</textarea>
</div>
  <div class="review_btn">
  <button class="review_post_button" >Post Your Review</button>
</div>

</div>

</div>
</div>
<br/>
<br/>

</main>



<script type="text/JavaScript">
document.addEventListener("DOMContentLoaded",function(){

  //navbar fix

  document.getElementById("mainNav").style.position = "fixed";
  document.getElementById("mainNav").style.background = "rgba(255, 255, 255, 0.95)";
  document.getElementById("mainNav").style.borderBottom = " 1px solid rgb(225, 225, 225)";

  var elements  = document.getElementById("mainNav").querySelectorAll("a");
  // document.querySelector(".small-navbar").style.display="none";
  document.getElementById("logoImage").src="../img/logo5.png";
  document.querySelector(".logo").style.marginLeft = "13%";
  document.querySelector(".logo").style.width = "9vw";
  document.querySelector(".logo").style.height = "8vh";
  // document.querySelector(".featured_happy_wrapper").style.marginTop = "6%";
  for (var i = 0; i < elements.length; i++) {
      elements[i].style.color="#000";
  }


  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > document.querySelector(".small-navbar").offsetTop || document.documentElement.scrollTop > document.querySelector(".small-navbar").offsetTop )

    {
      document.querySelector(".logo img").style.width = "22%";
      if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) )
          document.querySelector(".secondSmall").style.display="none";
      else
      document.querySelector(".small-navbar").style.display="none";
    }
    else
    {
        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) )
            document.querySelector(".secondSmall").style.display="block";
        else
        document.querySelector(".small-navbar").style.display="block";
      document.querySelector(".logo img").style.width = "100%";
    }
  }

  // quantityBtn += '<div id="input_div" class="shivy_move">';
  // // var input_shivy = product.product._id+'shivy';
  // quantityBtn += '<input type="text" value="1" id="'+input_shivy+'">';
  // quantityBtn +=  '<input type="button" value="-" id="moins" onclick="minus("<%= product[0]._id %>shivy")">';
  // quantityBtn += '<input type="button" value="+" id="plus" onclick="plus("<%= product[0]._id %>shivy")">';
  // quantityBtn += '</div>';
  // shivyMove.innerHTML += quantityBtn;


  var sessionCart = JSON.parse(sessionStorage.getItem("cart"));
    // var productId = "'"+product._id+"'";
    var check = false;
      if(sessionCart!==null)
      {
  sessionCart.items.some(function(productCart,index){
    // console.log(productCart._id);

    if(productCart._id== '<%= product[0]._id %>')
    {
      var divMain = document.createElement('div');
      divMain.id= "input_div";
      divMain.className = "shivy_move";
              var div = "";
      div += '<div id="input_div" class="shivy_move">';
      // var input_shivy = product._id+'shivy';
      div += '<input type="text" value="'+productCart.quantity+'" id="<%= product[0]._id %>shivy" disabled>';
      var productId = "'<%= product[0]._id %>'";
      div +=  '<input type="button" value="-" id="moins" onclick="minus('+productId+')">';
      div += '<input type="button" value="+" id="plus" onclick="plus('+productId+')">';
      div += '</div>';
      divMain.innerHTML = div;

      // check = true;
    var cartBtn = document.querySelector(".prod_desc").childNodes[5];
    console.log(cartBtn);
    // console.log(cartBtn);
    cartBtn.replaceChild(divMain, cartBtn.childNodes[1]);
      return true;
    // alert(id);
  }
});
}



// for(x in shivyan)
// {
//   console.log(shivyan[x]);
// }
document.querySelector(".review_post_button").addEventListener("click",function(){


  <% var logged=false; if(typeof user !== 'undefined'){ logged = true; }%>

if(<%=logged %>)
{
  var arrObj = [];

  <% product[0].prodRating.forEach(function(rating) { %>
      var shivyan={};
    shivyan.stars =  '<%= rating.stars %>';
    shivyan.comment =  '<%= rating.comment %>';
    shivyan.username =  '<%= rating.username %>';
    arrObj.push(shivyan);
  <% }); %>

  var json_obj = {};
  var final_obj={};
  var arrObjj=[];

json_obj.stars = star_interact();
json_obj.comment = (document.getElementById("customer_review").value).trim();
json_obj.username = "<% if(logged){%><%if(user.local.username){ %><%= user.local.username %><%} else if(user.google.name){%><%= user.google.name %><%} else if(user.facebook.name){ %><%= user.facebook.name %><%}%><%}%>";
final_obj.propName = "prodRating";
arrObj.push(json_obj)
final_obj.value = arrObj;
arrObjj.push(final_obj);
json_obj = JSON.stringify(arrObjj);
console.log(json_obj);

var http = new XMLHttpRequest();
var preUrl =  '<%= product[0]._id %>';
var url = "/review/"+preUrl;
http.open("put", url, true);

//Send the proper header information along with the request
http.setRequestHeader("Content-type", "application/json");

http.onreadystatechange = function() {//Call a function when the state changes.
    if(http.readyState == 4 && http.status == 200) {
        materialAlert('Thank You!',JSON.parse(this.responseText).message);
    }
}
http.send(json_obj);

}
else materialAlert('Please Login!','<br/>You cannot give review without login.');

});

});
//Change review box
function change_box(what_box)
{


  if(what_box=='old_review')
  {
    // alert("here");
  document.getElementById('old_review').style.background='#dc3836';
    document.getElementById('old_review').style.color='#fff';
  document.getElementById('add_review').style.background='#fff';
  document.getElementById('add_review').style.color='#000';
  document.getElementById('old_box').classList.add("display");
  document.getElementById('give_box').classList.remove("display");
}
else
{
  // alert("here2");
  document.getElementById('add_review').style.background='#dc3836';
  document.getElementById('add_review').style.color='#fff';
  document.getElementById('old_review').style.background='#fff';
    document.getElementById('old_review').style.color='#000';
  document.getElementById('old_box').classList.remove("display");
  document.getElementById('give_box').classList.add("display");
}
}

function star_interact()
{
  var for_check = 0;
  for(let i=1;i<=5;i++)
  {
    if(document.getElementById("star-"+i).checked)
    {
       for_check=1;
       if(i==5)
       {
         return i;
         break;
       }
     }
    else if(for_check==1)
    {
      var mid = i-1;
      return mid;
      break;
    }
  }
}



</script>
