<% layout('layout') -%>

<main class="product_main">
<div class="product_wrapper">
  <div class="product_img">
    <img src="../<%= product.prodImg %>" alt="">
  </div>
  <div class="prod_desc">
    <div class="prod_title">
      <h1><%= product.name %></h1>
    </div>
    <div class="prod_price">
    INR <%= product.price %>rs.
    </div>
    <div class="prod_long_desc">
      <%= product.prodDesc %>
      <%= product.prodDesc %>
    </div>
    <div class="add_to_cart">
      <div class="add_to_cart_btn">ADD TO CART</div>
    </div>
    <div class="prod_short_desc">
      Category: <%= product.category.name %><br/><br/>
      Serve   : <%= product.serve %> Persons
    </div>
  </div>
</div>
<div class="reviews">
<div class="old_review" id="old_review" onclick="change_box('old_review');">
  Description
</div>
<div class="add_review" id="add_review" onclick="change_box('add_review');">
  Give Review
</div>
<div class="old_box display" id="old_box">
  <span class="review_heading">User Rating</span>
  <span class="fa fa-star large checked"></span>
  <span class="fa fa-star large checked"></span>
  <span class="fa fa-star large checked"></span>
  <span class="fa fa-star large checked"></span>
  <span class="fa fa-star large"></span>
  <p class="review_overall">4.1 average based on 254 reviews.</p>

  <div class="review_overall_stars">
    <div class="stars">
      <div>
      5 Star
    </div>
    <div>
    4 Star
    </div>
    <div>
    3 Star
    </div>
    <div>
    2 Star
    </div>
    <div>
    1 Star
    </div>
    </div>
    <div class="bars">
      <div class="bar1">
      </div>
      <div class="bar2">
      </div>
      <div class="bar3">
      </div>
      <div class="bar4">
      </div>
      <div class="bar5">
      </div>
    </div>
    <div class="people_no">
      <div class="people_no_1">
        253
      </div>
      <div class="people_no_2">
        452
      </div>
      <div class="people_no_3">
        235
      </div>
      <div class="people_no_4">
        50
      </div>
      <div class="people_no_5">
        32
      </div>
    </div>
  </div>

<div>
  <div class="people_ratings">
    <div class="name_pic_rating">
    <div class="customer_pic">
      <img src="../img/customer_profile.png">
    </div>
    <div class="name_rating">
    <div class="customer_name">
      Shivyan
    </div>
    <div class="customer_rating">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star half"></span>
    </div>
    </div>
  </div>
    <div class="customer_comment">
      Lorem ujdhujhn Lorem ujdhujhn Lorem ujdhujhn Lorem ujdhujhnvv Lorem ujdhujhnvv Lorem ujdhujhn
    </div>
  </div>

  <div class="people_ratings">
    <div class="name_pic_rating">
    <div class="customer_pic">
      <img src="../img/customer_profile.png">
    </div>
    <div class="name_rating">
    <div class="customer_name">
      Shivyan
    </div>
    <div class="customer_rating">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star half"></span>
    </div>
    </div>
  </div>
    <div class="customer_comment">
      Lorem ujdhujhn Lorem ujdhujhn Lorem ujdhujhn Lorem ujdhujhnvv Lorem ujdhujhnvv Lorem ujdhujhn
    </div>
  </div>


  <div class="people_ratings">
    <div class="name_pic_rating">
    <div class="customer_pic">
      <img src="../img/customer_profile.png">
    </div>
    <div class="name_rating">
    <div class="customer_name">
      Shivyan
    </div>
    <div class="customer_rating">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star half"></span>
    </div>
    </div>
  </div>
    <div class="customer_comment">
      Lorem ujdhujhn Lorem ujdhujhn Lorem ujdhujhn Lorem ujdhujhnvv Lorem ujdhujhnvv Lorem ujdhujhn
    </div>
  </div>



  <div class="people_ratings">
    <div class="name_pic_rating">
    <div class="customer_pic">
      <img src="../img/customer_profile.png">
    </div>
    <div class="name_rating">
    <div class="customer_name">
      Shivyan
    </div>
    <div class="customer_rating">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star half"></span>
    </div>
    </div>
  </div>
    <div class="customer_comment">
      Lorem ujdhujhn Lorem ujdhujhn Lorem ujdhujhn Lorem ujdhujhnvv Lorem ujdhujhnvv Lorem ujdhujhn
    </div>
  </div>



  <div class="people_ratings">
    <div class="name_pic_rating">
    <div class="customer_pic">
      <img src="../img/customer_profile.png">
    </div>
    <div class="name_rating">
    <div class="customer_name">
      Shivyan
    </div>
    <div class="customer_rating">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star half"></span>
    </div>
    </div>
  </div>
    <div class="customer_comment">
      Lorem ujdhujhn Lorem ujdhujhn Lorem ujdhujhn Lorem ujdhujhnvv Lorem ujdhujhnvv Lorem ujdhujhn
    </div>
  </div>


  <div class="people_ratings">
    <div class="name_pic_rating">
    <div class="customer_pic">
      <img src="../img/customer_profile.png">
    </div>
    <div class="name_rating">
    <div class="customer_name">
      Shivyan
    </div>
    <div class="customer_rating">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star half"></span>
    </div>
    </div>
  </div>
    <div class="customer_comment">
      Lorem ujdhujhn Lorem ujdhujhn Lorem ujdhujhn Lorem ujdhujhnvv Lorem ujdhujhnvv Lorem ujdhujhn
    </div>
  </div>

  <div class="people_ratings">
    <div class="name_pic_rating">
    <div class="customer_pic">
      <img src="../img/customer_profile.png">
    </div>
    <div class="name_rating">
    <div class="customer_name">
      Shivyan
    </div>
    <div class="customer_rating">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star half"></span>
    </div>
    </div>
  </div>
    <div class="customer_comment">
      Lorem ujdhujhn Lorem ujdhujhn Lorem ujdhujhn Lorem ujdhujhnvv Lorem ujdhujhnvv Lorem ujdhujhn
    </div>
  </div>

  <div class="people_ratings">
    <div class="name_pic_rating">
    <div class="customer_pic">
      <img src="../img/customer_profile.png">
    </div>
    <div class="name_rating">
    <div class="customer_name">
      Shivyan
    </div>
    <div class="customer_rating">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star half"></span>
    </div>
    </div>
  </div>
    <div class="customer_comment">
      Lorem ujdhujhn Lorem ujdhujhn Lorem ujdhujhn Lorem ujdhujhnvv Lorem ujdhujhnvv Lorem ujdhujhn
    </div>
  </div>

</div>

</div>
<div class="give_box" id="give_box">
  <div class="review_grid">

<div class="review_heading">
  Give Your Review &nbsp; <i class="fa fa-edit"></i>
</div>
<div class="give_review_stars">
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star half"></span>
</p>
</div>
<div class="reviewing">
  <textarea rows="5" cols="50" class="reviewing_box" placeholder="Tell Us How You Feel About Our Service and Food.">

</textarea>
</div>
  <div class="review_btn">
  <button style="review_post_button">Post Your Review</button>
</div>

</div>

</div>
</div>
<!-- Related products block -->

<div class="related_products">
  <h1>RELATED PRODUCTS</h1>

<div class="related_products_slide">

  <div class="product1">
    <div class="product_image">
      <img src="https://www.bbcgoodfood.com/sites/default/files/recipe-collections/collection-image/2013/05/gfkids_maccheese.jpg" />
    </div>
    <div class="product_title">
      Tandoori Kawab
    </div>
    <div class="product_price">
      Rs. 600
    </div>
    <hr/>
    <div class="product_order_btn">
      ORDER
    </div>
  </div>

  <div class="product2">
    <div class="product_image">
      <img src="https://www.bbcgoodfood.com/sites/default/files/recipe-collections/collection-image/2013/05/gfkids_maccheese.jpg" />
    </div>
    <div class="product_title">
      Tandoori Kawab
    </div>
    <div class="product_price">
      Rs. 600
    </div>
    <hr/>
    <div class="product_order_btn">
      ORDER
    </div>
  </div>

  <div class="product3">
    <div class="product_image">
      <img src="https://www.bbcgoodfood.com/sites/default/files/recipe-collections/collection-image/2013/05/gfkids_maccheese.jpg" />
    </div>
    <div class="product_title">
      Tandoori Kawab
    </div>
    <div class="product_price">
      Rs. 600
    </div>
    <hr/>
    <div class="product_order_btn">
      ORDER
    </div>
  </div>



</div>

</div>

</main>



<script type="text/JavaScript">
//Change review box
function change_box(what_box)
{


  if(what_box=='old_review')
  {
    alert("here");
  document.getElementById('old_review').style.background='#dc3836';
    document.getElementById('old_review').style.color='#fff';
  document.getElementById('add_review').style.background='#fff';
  document.getElementById('add_review').style.color='#000';
  document.getElementById('old_box').classList.add("display");
  document.getElementById('give_box').classList.remove("display");
}
else
{
  alert("here2");
  document.getElementById('add_review').style.background='#dc3836';
  document.getElementById('add_review').style.color='#fff';
  document.getElementById('old_review').style.background='#fff';
    document.getElementById('old_review').style.color='#000';
  document.getElementById('old_box').classList.remove("display");
  document.getElementById('give_box').classList.add("display");
}
}
</script>
